/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/config/local
/public/assets/config.rb
/public/assets/.sass-cache
/public/assets/sass
/public/uploads
/public/node_modules
/public/Gruntfile.js
/public/package.json
/app/config/packages/wehnhew/
/html
/admin
sftp-config.json